Library
Temp
.DS_Store
.backups/
Temp/
Library/*
obj/
.idea/
scan-files/
.vscode/
.backup/
.build/
*.svd
*.sln

!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources

Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
/Project/Project.userprefs
Assembly-CSharp.pidb
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass.pidb
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Project.suo


Assets/Plugins/Editor
/.vs/p09.1-bomber-online/v16
/.vsconfig
